.title {
  margin: 0.7em;
  padding: 0.4em 0.8em ;
  font-family: var(--ff-quicksand);
  font-weight: var(--fw-bold);
  border-radius: var(--br-medium);
  background-color: var(--clr-bg-light);
  box-shadow: var(--bs-dark);
}

