.section{
  margin: 2em 0.7em 4em ;
  padding: 0.4em 1.8em ;
  border-radius: var(--br-medium);
  background-color: var(--clr-bg-light);
  box-shadow: var(--bs-dark);
  font-family: var(--ff-quicksand);
}

.title {
  padding: 0.4em 0.63em ;
}

.section p {
  padding-top: 1rem ; 
}