.controlGroup {
  display: flex;
  align-items: center;
}
.radioInput {
  margin-right: 0.6em;
}

.submitButton {
  margin: 1.5em 1em 1em;
}

.question {
  font-family: cursive;
}

.container {
  padding: 0 1em;
  border-radius: 4px;
}

.unanswered {
  border: 2px solid blue;
}

.correct {
  border: 2px solid green;
  box-shadow: 0 0 6px 1px green;
}

.wrong {
  border: 2px solid red;
  box-shadow: 0 0 6px 1px red;
}
