* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.4)) , url(/background.jpg) ;
    background-size: contain;
}

